h2 {
  display: flex;
  gap: 5px;
  color: rgb(99, 99, 102);
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  margin: 6px 0;
}
.app {
  padding: 1% 6%;
}

.search-bar {
  margin: 2rem 0 2rem 0;
}
